<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>単語帳</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./stylesheets/wordbox.css">
</head>
<body>
<header>
  <h1><a href="#form-box">★</a></h1>
</header>

<div id="form-box">
  <a href="#"></a>
  <form action="/new" method="post">
    <a href="#">☓</a>
    <h3>登録フォーム</h3>
    <h4>見出し</h4>
    <input type="text" placeholder="タイトル" name="title">
    <h4>本文</h4>
    <textarea name="body" id="" cols="30" rows="10"></textarea>
    <h4>参考リンク</h4>
    <input type="text" placeholder="リンク先のタイトル" name="linkTitle">
    <input type="url" placeholder="URL" name="url">
    <input type="submit" value="投稿する">
  </form>
</div>

<main>
  <article>
    <h2>見出し</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus suscipit velit quaerat, eaque blanditiis consequatur atque illum molestiae ut recusandae perspiciatis maiores quis nostrum voluptate in tempora labore dolor ducimus.</p>
    <p>参考リンク：<a href="#">リンク先タイトル</a></p>
    <div class="edit">
    <form action="/edit/<%= content.id %>" method="post"><input type="submit" value="編集"></form>
    <form action="/delete/<%= content.id %>" method="post"><input type="submit" value="削除"></form>
    </div>
  </article>

  <article>
    <h2>見出し</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus suscipit velit quaerat, eaque blanditiis consequatur atque illum molestiae ut recusandae perspiciatis maiores quis nostrum voluptate in tempora labore dolor ducimus.</p>
    <p>参考リンク：<a href="#">リンク先タイトル</a></p>
  </article>

  <article>
    <h2>見出し</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus suscipit velit quaerat, eaque blanditiis consequatur atque illum molestiae ut recusandae perspiciatis maiores quis nostrum voluptate in tempora labore dolor ducimus.</p>
    <p>参考リンク：<a href="#">リンク先タイトル</a></p>
  </article>

  <article>
    <h2>見出し</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus suscipit velit quaerat, eaque blanditiis consequatur atque illum molestiae ut recusandae perspiciatis maiores quis nostrum voluptate in tempora labore dolor ducimus.</p>
    <p>参考リンク：<a href="#">リンク先タイトル</a></p>
  </article>

  <article>
    <h2>見出し</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus suscipit velit quaerat, eaque blanditiis consequatur atque illum molestiae ut recusandae perspiciatis maiores quis nostrum voluptate in tempora labore dolor ducimus.</p>
    <p>参考リンク：<a href="#">リンク先タイトル</a></p>
  </article>

  <article>
    <h2>見出し</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus suscipit velit quaerat, eaque blanditiis consequatur atque illum molestiae ut recusandae perspiciatis maiores quis nostrum voluptate in tempora labore dolor ducimus.</p>
    <p>参考リンク：<a href="#">リンク先タイトル</a></p>
  </article>
</main>

</body>
</html>
