<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>詳細画面</title>
</head>
<body>
 <% @contents.each do |contribution| %>
 <h2><%= content.comment %></h2>
 <% end %>
</body>
</html>