<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>質問作成画面</title>
</head>
<body>
    <form action="/new" method="post">
     <h3>編集フォーム</h3>
     <h4>見出し</h4>
     <input type="text" placeholder="タイトル" name= "title">
     <h4>本文</h4>
     <textarea name="body" id="" cols="30" rows="10"></textarea>
     <input type="submit" value="質問作成">
    </form>
 
</body>
</html>